.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 10px;
  
}
.notes{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.note{
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 250px;
  background-color: rgb(73, 166, 166);
  border-radius: 50px;
  

}
.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  
}
.update, .delete{
  cursor: pointer;
}
.update{
  background-color: whitesmoke;
}
.update:hover{
  background-color: antiquewhite;
}
.delete{
  background-color: rgb(255, 84, 84);
}
.delete:hover{
  background-color: red;
}

.header h1{
  font-size: 48px;
}
.header h2{
  font-size: 30px;
}
.form{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}
textarea{
  width: 270px;
  height: 230px;
}
.add{
  height: 80px;
  width: 80px;
  margin-top: 20px;
}
.header{
  width: 1000px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}