
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(95, 198, 95);
}
.notes{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.note{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 400px;
  width: 250px;
  background-color: #49a6a6;
  border-radius: 50px;
  justify-content: space-between;
  padding: 20px;

}
.note p{
  word-wrap: break-word;
  white-space: pre-line;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  
}
.update, .delete{
  cursor: pointer;
}
.update{
  background-color: whitesmoke;
  text-decoration: none;
}
.update:hover{
  background-color: antiquewhite;
}
.delete{
  background-color: rgb(255, 84, 84);
}
.delete:hover{
  background-color: red;
}

.header h1{
  font-size: 48px;
}
.header h2{
  font-size: 30px;
}
.form{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  background-color: #5fc65f;

}
textarea{
  width: 270px;
  height: 230px;
}
.add{
  height: 60px;
  width: 80px;
  margin-top: 20px;
  cursor: pointer;
  background-color: blue;
  padding: 4px;
}
.add:hover{
  background-color: rgb(73, 166, 166);

}
.header{
  width: 1000px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.updated-note{
  width: 270px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  gap: 2px;

}
.updated-note input{
  width: 270px;
  height: 30px;
}
.submit-button{
  padding: 7px;
  background-color: burlywood ;
  cursor: pointer;
}